<html>
    <body>
        <h1>GET AVERAGE</h1>
        <form action="/submit" method="post">
            <label for="science">Science</label>
            <input type="text" id="science" name="science">

            <label for="c">C</label>
            <input type="text" id="c" name="c">

            <label for="cpp">cpp</label>
            <input type="text" id="cpp" name="cpp">

            <label for="dscience">Science</label>
            <input type="text" id="dscience" name="dscience">

            <input type="submit" value="Submit">


        </form>
    </body>
    </html>